---
layout: default
---
{% if page.cv_pdf %}
  <script>
    // Redirect to the PDF file
    window.location.href = "{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}";
  </script>
{% else %}
  <p>No CV PDF specified.</p>
{% endif %}
